.add-player-card {
    padding-bottom: 20px;
}

.add-player-card select {
    margin-bottom: 5px;
}

.action-link {
    cursor: pointer;
}

.submit-button {
    margin-top: 24px;
    margin-left: 10px;
}

.action-button {
    margin-top: 40px;
}